.fieldsContainer {
  display: flex;
  gap: 0.2rem;
  text-align: center;
}

.totalsContainer {
  padding: 1rem 0 0;
}

.totals {
  background-color: rgb(0, 29, 66);
  width: 4rem;
  height: 1.8rem;
  margin: 0.8rem;
  margin-left: 0;
  border-radius: 0.3rem;
  line-height: 1.8rem;
  font-weight: bold;
}

.numbersTotals {
  margin-top: 13.65rem;
}

.differencesTotals {
  margin-top: 4.3em;
}

.setsTotals {
  margin-top: 10.5rem;
}

.totalsTotal {
  position: absolute;
  top: 51rem;
  width: 50%;
  max-width: 15rem;
  margin: 1rem auto;
  font-size: 1.3rem;
  padding: 0.4rem 0
}