.inputControl {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 5rem auto 0;
}

.inputControl *:not(:first-child) {
  margin-bottom: 2rem;
}

.inputControl label {
  margin-bottom: 0.3rem;
}

.inputControl input {
  background-color: aliceblue;
  color: rgb(0, 24, 24);
  border: 2px solid transparent;
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
  font-size: 1.2rem
}

.inputControl input::placeholder {
  color: rgb(124, 126, 126);
}

.enterGameBtn {
  background-color: #405cf5;
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  height: 44px;
  line-height: 1.15;
  padding: 0 1.25rem;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 15rem;
}

.enterBtn:active {
  transform: scale(0.98);
}

/* SELECTION */
.selection_container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  justify-content: center;
}

.selection {
  width: 15rem;
  margin: 0 auto;
}

.selection input {
  width: 0;
  height: 0;
}

.selection input:checked ~ label {
  border-color: var(--main-highlight);
}

.selection input:checked ~ label:before, 
.selection input:checked ~ label:after {
  display: block
}

.selection label {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 15rem;
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid var(--main-light);
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 1px 1px 3px var(--main-light);
  position: relative
}

.selection label:before,
.selection label:after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--main-highlight);
  position: absolute;
  top: calc(50% - 5px);
  display: none
}

.selection label:before {
  left: 1rem;
}

.selection label:after {
  right: 1rem;
}