.navbar {
  /* border: 1px solid red; */
  height: 3rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(0, 0, 42, 0.334);
}

.navbar ul {
  /* border: 1px solid red; */
  max-width: 55rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0 14rem
}

.navbar ul li:first-of-type {
  margin-right: auto;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}